# ============================================
# LLM / RAG
# ============================================
langchain
langchain-ollama
langchain-community
langgraph
pageindex
openai
openai-guardrails
sentence-transformers
